@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  --teal: #0ea5e9;
  --orange: #FFB200;
  --grey: #e2e8f0;
  --white: #FFFFFF;
  --text-primary: #000000;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: 
    "sidebar header header"
    "sidebar main main";
  overflow: hidden;
}

/* sidebar section */
.sidebar {
  grid-area: sidebar;
  background-color: var(--teal);
  font-weight: 500;
  padding: 1rem;
  min-width: 240px;
}

.dashboard,
.menu li {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: 700;
}

.dashboard img {
  width: 2.5rem;
}

.dashboard h1 {
  font-size: 1.5rem;
}

.menu li > img {
  width: 1.4rem;
  padding: .8rem .5rem;
}

.menu li > p {
  font-size: 1.25rem;
}

.dashboard > *,
.menu li > * {
  cursor: pointer;
}

.menu-top {
  padding: 2rem 0 3rem;
}

/* header section */

.header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1.5fr 2fr;
  background-color: var(--white);
  margin-right: 1rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top .icon {
  height: 22px;
  padding-right: .3rem;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .7rem;
  padding-left: 2rem;
}

.search-wrapper input {
  width: 550px;
  background-color: var(--grey);
  border-radius: 16px;
  border: none;
  height: 28px;
}

.user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  margin-right: 1rem;
  gap: 1.5rem;
}

.user-wrapper .avatar {
  width: 2.5rem;
  border-radius: 50%;
}

.user-wrapper .user-name {
  font-size: 1.1rem;
  font-weight: 700;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0 1rem;
}

.welcome-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  gap: 1rem;
}

.welcome-wrapper .avatar {
  width: 4rem;
  border-radius: 50%;
}

.greeting-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .4rem;
  font-weight: 700;
}

.greeting-wrapper .user-name-id {
  font-size: 1.4rem;
}

.greeting-wrapper .greeting {
  font-size: .8rem;
}

.buttons {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  gap: 1.5rem;
}

.buttons button {
  color: var(--white);
  background-color: var(--teal);
  font-size: .9rem;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: .7rem 1.5rem;
  width: 95px;
  cursor: pointer;
}

/* main section */
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
   "projects projects announcements"
   "projects projects trending";
  justify-content: space-evenly;
  padding: 1rem 1.5rem 1rem 1rem;
  background-color: var(--grey);
  box-shadow: inset 0px 4px 10px -4px rgba(99, 99, 99, 0.4);
}

.main h3 {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 0;
}

.projects {
  grid-area: projects;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  padding: 1rem;
  height: 170px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  border-left: .5rem solid var(--orange);
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  padding-top: 1rem;
}

.card-text {
  font-size: .9rem;
  color: grey;
  padding: .5rem 0;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: .7rem;
  margin-top: auto;
}

.card-icons img {
  width: 1.4rem;
  cursor: pointer;
}

/* aside  announcements section*/
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.5rem;
}

.aside-top {
  grid-area: announcements;
  margin-bottom: 1rem;
}

.aside-card {
  background-color: var(--white);
  border-radius: 8px;
  padding: 1.4rem;
  height: 250px;
  width: 220px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.aside-article {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: 1rem .5rem;
  border-bottom: 1px solid var(--grey);
}

.aside-article:last-child {
  border: none;
}

.aside-title {
  font-size: .8rem;
  font-weight: 700;
}

.aside-text {
  font-size: .7rem;
  color: grey;
}

/* aside trending section */
.aside-bottom {
  grid-area: trending;
}

.aside-bottom .aside-card {
  padding-left: .5rem;
  padding-right: 2rem;

}

.aside-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .6rem 0;
  margin-right: 1rem;
}

.aside-account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: .8em;
  gap: 4px;
}

.aside-profile img {
  height: 2.75rem;
  border-radius: 50%;
  margin-left: .8rem;
}

.aside-profile > * {
  cursor: pointer;
}

.aside-user {
  color: grey;
}