@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --teal: #0ea5e9;
  --orange: #FFB200;
  --grey: #CFD2CF;
  --bg-color: #FFFFFF;
  --text-primary: #000000;
}

body {
  height: 100vh;
  width: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  grid-template-columns: 250px 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--teal);
  font-weight: 600;
  padding-left: 1.5rem;
}

.main {
  grid-area: main;
}
/* sidebar section */
.dashboard,
.menu li {
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 1rem; */
}

.dashboard img {
  width: 2.5rem;
}

.dashboard h1 {
  padding-left: .3rem;
  font-size: 1.5rem;
}

.menu li > img {
  width: 1.25rem;
  padding: .5rem;
}

.menu li > p {
  font-size: 1rem;
  padding-left: .6rem;
}

.menu-top {
  padding: 1rem 0 2rem;
}

/* main section */
.card-icons img {
  width: 1.5rem;
}

/* header */
.header-top .avatar {
  width: 2rem;
}
.header-bottom .avatar {
  width: 5rem;
}

.header .icon {
  width: 1.5rem;
}

/* aside */
.aside-profile img {
  height: 5rem;
}